<nav class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">Calculator</NavLink>
    <NavLink href="saved" class="nav-link">Saved</NavLink>
    <NavLink href="about" class="nav-link">About</NavLink>
</nav>
